.git/
.gitignore
.dvc/
.dvcignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store

checkpoints/
output/
reports/
notebooks/
tests/

.venv/
venv/
env/
dist/
build/

# include MLflow runs in Docker context
!mlruns/
!mlruns/**

# exclude junk inside mlruns
mlruns/**/.DS_Store
mlruns/**/.trash/
mlruns/**/.trash/**

!db/
!db/**
