# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/
ENV/
conda-meta/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# MLflow
mlruns/
mlartifacts/

# Data outputs
data/external/
data/raw/
data/processed/
data/analytics/
data/versions/

# DVC cache
.dvc/cache/

# Model artifacts
models/
checkpoints/
artifacts/

# Database
db/*.db

# Misc
*.sqlite
